*{
  margin: 0px 0px;
  padding: 0px 0px;
}

.container{
  width : 100%;
  height : 100%;
}

.customer_left{

  margin-left: 5%;
  margin-top: 3%;
  padding-top: 3%;
  width : 40%;
  height: 750px;
  float : left;
  text-align: center;
  border: 5px solid #5883FF;
  border-radius: 20px;
  text-align: center;
  font-family: 'Mukta', sans-serif;


}

.employee_right{

  margin-right: 5%;
  margin-top: 3%;
  padding-top: 2%;
  width : 40%;
  height: 770px;
  float : right;
  text-align: center;
  border: 5px solid #FF6979;
  border-radius: 20px;
  text-align: center;
  font-family: 'Mukta', sans-serif;

}

.text-signIn_left{

  color : #5883FF;
  font-size : 50px;
  margin-top: 2%;
}

.text-signIn_right{

  color : #FF6979;
  font-size : 50px;
  margin-top: 2%;
}

.text{

  font-size : 50px;
  font-size : 40px;
}

.links{

  margin-top: 5%;
  margin-left: -70%;

}

a{

  font-family: 'Mukta', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: left;

}

input, Select{

  margin-top: 2%;
  width : 40%;
  height : 30px;
  border: 2px solid #707070;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  color: #707070;
  font-family: 'Mukta', sans-serif;

}

input:focus::-webkit-input-placeholder{
  opacity: 0;
  transition: .3s;
}

.email, .password, .Str_Address{

  margin-top: 2%;
  width : 81%;
  height : 30px;
  border: 2px solid #707070;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  color: #707070;
  font-family: 'Mukta', sans-serif;

}

label{

padding: 3px;
  margin-top: 2%;
  margin-right: 5px;
  margin-left: 5px;
  width : 30%;
  height : 30px;
  border: 2px solid #707070;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  outline: none;
  color: #707070;
  font-family: 'Mukta', sans-serif;

}

.gender{

  margin-top: 2%;
  width : 13%;
  height : 35px;
  border: 2px solid #707070;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  color: #707070;
  font-family: 'Mukta', sans-serif;

}

.Birth_Date{

  margin-top: 3%;
  width : 15%;
  height : 30px;
  border: 2px solid #707070;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  color: #707070;
  font-family: 'Mukta', sans-serif;

}

.Occupation{

  margin-top: 3%;
  width : 20%;
  height : 30px;
  border: 2px solid #707070;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  color: #707070;
  font-family: 'Mukta', sans-serif;

}

.City, .State, .Pincode, .Country{

  margin-top: 2%;
  width : 19.5%;
  height : 30px;
  border: 2px solid #707070;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  color: #707070;
  font-family: 'Mukta', sans-serif;

}



.bttn{

  font-size: 20px;
  margin-top: 5%;
  width : 30%;
  height : 50px;
  color : white;
  outline: none;
  border: 2px solid #5883FF;
  border-radius: 30px;
  background-color: #5883FF;
  font-family: 'Mukta', sans-serif;
  }

.ebttn{

  font-size: 20px;
  margin-top: 5%;
  width : 30%;
  height : 50px;
  color : white;
  outline: none;
  border: 2px solid #FF6979;
  border-radius: 30px;
  background-color: #FF6979;
  font-family: 'Mukta', sans-serif;
  }
